apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello
  template:
    metadata:
      labels:
        app: hello
    spec:
      containers:
      - name: hello
        image: harbor.vmw.local/library/hello@sha256:df322a55c16c024aeefaa7ba2cb37cdc92a553194935970291a88942337aa31d
        ports:
        - containerPort: 8080  # Flask uygulamasının çalıştığı port
